aemterliste.iml
out/
.idea/
web/
build/
.gradle/
aemter.json
biernamenmails.txt
aemtermails.txt
mails.txt
mailmanmails.txt
aemter27.json
run_container.sh
docker-compose.yml
krese.env
import-20180826.sql
